TF_VARS_MAIN_FILE_NAME=main
TF_VARS_INGRESS_FILE_NAME=ingress
TF_VARS_FILE_DISABLED_PHRASE=disabled
DEFAULT_KUBECTL_WATCH_RESOURCES="po svc ing"
DEFAULT_ENVIRONMENT_NAME=dev

TEMPLATE_AUTO_REJECT="main.template.tf .parent.config"
TEMPLATE_REPO_ORIGIN=repo-template
TEMPLATE_REPO_BRANCH=main
TEMPLATE_LAST_COMMIT_EPOCH=1664130340 # 2022-09-25 18:25:40
TEMPLATE_REPO_URL=https://github.com/utkusarioglu/tf-k8s-repo-template.git
